<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Family list</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Login</td>
        <td>Region</td>
        <td>Password</td>
        <td>Paid until</td>
        <td>Street name</td>
        <td>Street number</td>
        <td>Zip code</td>
        <td>City</td>
    </tr>
    <tr th:each="family : ${families}">
        <td th:text="${family.login}"></td>
        <td th:text="${family.region}"></td>
        <td th:text="${family.password}"></td>
        <td th:text="${family.paidUntil}"></td>
        <td th:text="${family.streetName}"></td>
        <td th:text="${family.streetNumber}"></td>
        <td th:text="${family.zipCode}"></td>
        <td th:text="${family.city}"></td>
    </tr>
</table>
</body>
</html>