<!DOCTYPE html>
<html lang="en">
<head>
    <title>All accounts</title>
</head>
<body>
<table>
    <tr>
        <td><a href="/admin/accounts">Accounts</a></td>
    </tr>
    <tr>
        <td><a href="/admin/accounts/pending">Pending accounts</a></td>
    </tr>
    <tr>
        <td><a href="/admin/families">Families</a></td>
    </tr>
    <tr>
        <td><a href="/admin/families/add">Add family</a></td>
    </tr>
    <tr>
        <td><a href="/admin/families/tokens">Family tokens</a></td>
    </tr>
</table>
</body>
</html>