<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="base">
<head>
    <title>Готово!</title>
</head>
<body>
<div layout:fragment="content">
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <!--/*@thymesVar id="transactionId" type="java.lang.String"*/-->
    <p>Готово! Мы отправили письмо со ссылкой на оплату на <span th:text="${message}">bob@example.com</span></p>
    <p>Кроме того, вы можете <a th:href="'/pay/' + ${transactionId}">оплатить подписку прямо сейчас</a></p>
</div>
</body>
</html>